* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
      background-color: rgb(20, 20, 20);
      overflow-x:hidden;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    background-color: #000000d5;
  }
  
  .logo {
    margin-right: auto;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
  }
  
  .navLinks a,
  .cta,
  .overlayContent a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .navLinks li {
    padding: 0px 20px;
  }
  
  .navLinks li a {
    transition: all 0.3s ease 0s;
  }
  
  .navLinks li a:hover {
    color: #00ffd5;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    color:black;
    background-color: #c9c9c9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: #00ffea;
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlayContent {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #6d6d6d;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .navLinks,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
/*ABOUT ME PAGE STYLE*/
.aboutMe{
    justify-content: left;
    display:flex;
    flex-wrap: wrap;
}
section h1{
    font-family: 'Asap', sans-serif;
    color: white;
    text-align: left;
    margin-left: 10%;
    margin-right:30%;
    padding: 40px;
}

section p{
    color:white;
    font-size:24px;
    text-align: left;
    padding: 20px;
    margin: 0 10% 0 10%;
    
}

.aboutMe img{
  margin: auto;
  border-radius: 1000000px;
  

}

/* Project section */

.projectheader{
    color:white;
    font-family: 'Asap', sans-serif;
    text-align: center;
    margin: 20px;
}
.wrapper{
    border: 1px solid rgb(92, 92, 92);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.322);
    display: flex;
    overflow-x: auto;
    margin: 0px 50px 0px 50px;
    border-radius: 10px;
}

.wrapper::-webkit-scrollbar{
    background-color: #24252a;
}

.wrapper::-webkit-scrollbar-thumb{
  background-color: #5f5f5f;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  border-radius: 15px;
} 

.wrapper::-webkit-scrollbar-thumb:hover{
  background-color: #888888;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);


} 

.wrapper .item{
    margin: 10px;
    background-color: #929292;
    border: 3px solid #464646;
    font-family: 'Asap', sans-serif;
    text-align: center;
    border-radius: 10px;
}

.wrapper .item img{
  padding: 5px;
  display: block;
  margin:auto;
  border-radius: 10px;
}

.wrapper .item:hover{
  transition: all 0.6s ease 0s;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.459);
  background-color: #adadad;
 
}

.wrapper h2 {
  font-size: 20px;
}

.contactheader{
  font-family: 'Asap', sans-serif;
  text-align: center;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  
}

.wrappercontact{
  border: 1px solid rgb(92, 92, 92);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.322);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0px 40% 0px 40%;
  border-radius: 10px;
}

.wrappercontact .item{
    height: 100px;
    background-color: #999999;
    border: 3px solid #696969;
    font-family: 'Asap', sans-serif;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.322);
    margin: auto;
}

.wrappercontact .item img{
  margin: 10px;
}

.wrappercontact .item:hover{
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.459);
  background-color: #b6b6b6;
  transition: all 0.6s ease 0s;
 
}

/*footer*/

footer{
  margin-top: 50px;
  padding: 20px;
  background-color: black;
}

footer img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:10px;
  border-radius: 10000px;
}

footer img:hover{
  width:1000px;
}